@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor01:#bf2626;
    --cor02: #f29e38;
    --cor03: #f2b138;
    --branco: #fff;
    --preto: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    background-color: var(--cor01);
    
}

main{
    height: calc(100% - 5em);
}